extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Andrew Galyan-Mann

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I have spent the past five years working in the staffing and recruiting industry. 
            | Roughly 90% of that time has been within a start up, giving me a strong understanding of startup expansion, client consultation, and team building. 
            | I believe the business and consultation skills that are used in growing a successful company makes me a stronger developer. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li SQL 
          li Express 
          li React 
          li Node 
          li Javascript 
          li jQuery 
          li HTML
          li CSS
          li Pug 
          li Sequelize
          li Git Version Control

        h6 Contact Info

        //- Add your own contact info
        ul
          li (513) 430-9024
          li asgalyanmann@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/andrew-galyan-mann-28a7b295' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/agalyanmann' target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  